
nav {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #999;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
}

#logoG {
  width: 45vw;
  height:auto;
}

form {
justify-content: center;
align-items: center;
text-align: center;
font-size: auto;

}

.search {
  min-width: 60vw;
  min-height: 10vh;
  border-radius: 10px;
}
.button .button1 {
  margin-top: 20px;
  width: 130px;
  text-align: center;
}
